$black-border: 1px solid black;

#my-app {
    border: $black-border;
    height: 100px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#block-boutons-operators {
    width: 100%;
    text-align: center;
    padding-top: 20px; 

    #plus, #moins, #mutiplier, #diviser, #egale {
        width: 80px;
    }
}

#button-numbers {
    width:100%;
    margin-top: 20px;

    td {
        border: $black-border;
        width: 100px;
        height: 80px;
        text-align: center;
        background-color: #DDD;
    }
}